{%extends "bootstrap/base.html"%}

{%	block title %}
Home
{%endblock%}

{% block scripts %}
    {{super()}}
    {{moment.include_moment()}}
{% endblock%}

{%block content%}
<nav class="navbar navbar-inverse navbar-fixedtop">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"> Jeremy's Website </a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">
            <li><a href={{url_for("home")}}> Home</a>
          </li>
            <li><a href={{url_for("profile_page")}}> You 
            </a>
          </li>
          </ul>
        </div>
      </nav>

{% for message in get_flashed_messages()%}
<div class="alert alert-warning" >
    <button type = "button" class="close" data-dismiss="alert">×</button>
    {{message}}
</div>
<div class = "jumbotron text-center">
  <p> Welcome to Home {{first_name}}!
  </p>

</div>
<div class = "jumbotron text-center">
  <p>{{moment(current_time).format('LLLL') }}</p>
  <p>You came here {{moment(current_time).fromNow(refresh=True)}}</p>
</div>

<div class="col-xs-2">
    <form method="post" action="/logout">
    <input type="submit" value="Logout" class="form-control">
    </form>
 </div>

{% endfor %}
{%endblock%}

